.container{
    width: 100%;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    padding: 2rem;
}

.filterContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.4rem;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.leftContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.export{
    height: 38px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #b6b6b6;
}